<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", height: '32px' %>
      <% end %>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <%= link_to "Listings", spaces_path, class: "nav-link px-2 text-secondary" %>
        <%= link_to "Dashboard", dashboard_path, class: "nav-link px-2 text-secondary" %>
      </ul>

    </div>
  </div>
</header>
